body{
    font-family: 'Open Sans Condensed';
    padding:20px 40px;
    background-color: #edf5e1;
    @media screen and (max-width: 800px){
        padding:10px;
    }
}

a{
    text-decoration: none;
    color:black;
}


*{
    box-sizing: border-box;
}

#title{
    display:flex;
    justify-content: center;

    @media screen and (max-width:800px){
        font-size: large;
    }
}
